
@{
    ViewData["Title"] = "Home Page";
}



<nav class="navbar navbar-expand-lg align-content-lg-center navbar-light bg-white border-bottom box-shadow mb-3">
  <div class="container-fluid">
   
  
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav flex-grow-1">
         <li class="nav-item">
                                       
                                        <a class="nav-link text-dark" asp-area="" asp-controller="QuizQestions" asp-action="Index" >Teacher</a>
                                    </li>
                                     
                                

                               
                                
                                <li class="nav-item">
                                       
                                        <a class="nav-link text-dark" asp-area="" asp-controller="QuizQestions" asp-action="Index1" >Student</a>
                                    </li>
      </ul>

    
    </div>
  </div>
</nav>



<div class="text-left">
    <h3>Signin with microsoft account only</h3>

    <h1 class="display-4">Teacher</h1>
    
    <p>
            <h5>Click on Teacher Tab to Sign in </h5>
        This Website would help Teacher to create Question Papers for their student in their regional language.This Website supports <b>Five</b> languages
        <br />
        <b>Marathi,Hindi,Tamil,Gujrati</b>
        <br />
        <b><h6>Important to Note :</h6></b>
        <br />
        <b>Choose One language in which you want to create Exam Paper .Its Users responsiblity choose correct language while preparing Question paper
            <br />
            This Site support language change option.
            While Creating question either type question in english and choose your language so,it will automatically translate your question in your choosen language or use virtual 
            keybord that support multilanguage features.
        </b>

    </p>
      <h1 class="display-4">Students</h1>
         <h5>Click on Student Tab to Sign in </h5>
    <p>
        In this  Website Student can give their test Question Papers .Submit Button will not apear untill you don't answer whole question Paper .
       <b>Go Quickly Give your Test and see your performance report card.</b> 
   

    </p>
   
</div>

