

@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.Rendering;
@using Microsoft.EntityFrameworkCore;
@using Eqirl.Data;
@using Eqirl.Models;

@model Eqirl.Models.QuizQestion
@{
    ViewData["Title"] = "Create";


}

<h1>Create Question</h1>


<hr />






@{

             
            <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FKDeptID" class="control-label"> ExamName</label>
                        <select asp-for="FKDeptID" class ="form-control" asp-items="ViewBag.FKDeptID"></select>
                    </div>
                    
               
                  <div class="form-group">
                        <label asp-for="Question" class="control-label"></label>

                        <input asp-for="Question"  class ="form-control"  />
                        <span asp-validation-for="Question" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Option1" class="control-label"></label>
                        <input asp-for="Option1" class="form-control" />
                        <span asp-validation-for="Option1" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Option2" class="control-label"></label>
                        <input asp-for="Option2" class="form-control" />
                        <span asp-validation-for="Option2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Option3" class="control-label"></label>
                        <input asp-for="Option3" class="form-control" />
                        <span asp-validation-for="Option3" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Option4" class="control-label"></label>
                        <input asp-for="Option4" class="form-control" />
                        <span asp-validation-for="Option4" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CorrectAnswer" class="control-label"></label>
                        <input asp-for="CorrectAnswer" class="form-control" />
                        <span asp-validation-for="CorrectAnswer" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

  
    
}
 
      

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
